<h1>Please Update Product Details</h1>

<div class="midcontainer">



<form action="/inventory/<%= @products.id %>" method="post">
    <label for="name">Name:</label>
    <input id="name" type="text" value="<%= @products.name %>" />
    <label for="description">Description:</label>
    <input id="descriptiom" type="text" name="description" value="<%= @products.description %>" />
    <label for="quantity">Quantity:</label>
    <input id="quantity" type="number" name="quantity" value="<%= @products.quantity %>" />
    <label for="cost">Cost(£):</label>
    <input id="cost" type="number" name="cost" value="<%= @products.cost %>" />
    <label for="sell_price">Sell Price(£):</label>
    <input id="sell_price" type="number" name="sell_price" value="<%= @products.sell_price %>" />
    <label for="size">Size(cm):</label>
    <input id="size" type="number" name="size" value="<%= @products.size %>" />
    <label for="sport_type">Sport Type:</label>
    <input id="sport_type" type="text" name="sport_type" value="<%= @products.sport_type %>" />

    <input type="submit" name="" value="Edit Order">

</form>

</div>
