<div class="container" id="show-container">



</div>
<h1>Products</h1>

<p>Name: <%= @products.name %></p>
<p>Description: <%= @products.description %></p>
<p>Quantity: <%= @products.quantity %></p>
<p>Cost: <%= @products.cost %></p>
<p>Sell Price: <%= @products.sell_price %></p>
<p>Size: <%= @products.size %></p>
<p>Sport Type: <%= @products.sport_type %></p>
<p>Manufacturer: <%= @products.manufacturer %></p>
<p>Mark-up: <%= @products.mark_up() %></p>
<p>Stock level Warning: <%= @products.stock_level() %></p>
