<h1>All Manufacturers</h1>

<div class="midcontainer">


<% for manufacturer in @manufacturer %>
  <p>Name: <%= manufacturer.manufacturer_name() %></p>
  <p>Phone: <%= manufacturer.phone %></p>
  <p>Country: <%= manufacturer.country %></p>
  <p> <a href="/manufacturers/<%= manufacturer.id %>">Show Manufacturer</a> </p>


<div class="manu_button">
  <div id="wrapper">
    <a class="button" href="/manufacturers/<%= manufacturer.id %>/edit"></a>

    <form class="" action="/manufacturers/<%= manufacturer.id %>/delete" method="post">
      <input type="submit" value="Delete Manufacturer">
    </form>

    <hr />
  </div>
</div>


<% end %>



</div>
